In [1]:
#Importing the libraries
import pandas as pd
import numpy as np

In [2]:
categorical=pd.read_csv("categorical.csv") # Loading the datset

In [3]:
categorical.head(10)   # top 10 rows in this case we only have 10 rows in the dataset

   Rec-No Temperature   Color  Target
0       0        cold  yellow       1
1       1    very hot    blue       1
2       2        warm    blue       1
3       3         hot     red       0
4       4         hot     red       1
5       5        warm  yellow       0
6       6        warm  yellow       1
7       7         hot  yellow       0
8       8         hot  yellow       1
9       9        cold  yellow       1

# ONE HOT ENCODING

In [4]:
df=categorical.drop(["Rec-No"], axis=1)# Dropping the first column

In [5]:
df.head(5)

  Temperature   Color  Target
0        cold  yellow       1
1    very hot    blue       1
2        warm    blue       1
3         hot     red       0
4         hot     red       1

In [6]:
# Dummification

In [7]:
df=pd.get_dummies(df, prefix=["Temp"], columns=["Temperature"])

In [8]:
df.head(5)

    Color  Target  Temp_cold  Temp_hot  Temp_very hot  Temp_warm
0  yellow       1          1         0              0          0
1    blue       1          0         0              1          0
2    blue       1          0         0              0          1
3     red       0          0         1              0          0
4     red       1          0         1              0          0

In [9]:
from sklearn.preprocessing import OneHotEncoder  # to perform encoding
ohc=OneHotEncoder()  #instantiating an object
ohe=ohc.fit_transform(categorical.Temperature.values.reshape(-1,1)).toarray()
dfonehot=pd.DataFrame(ohe, columns=["Temp_"+str(ohc.categories_[0][i]) for i in range (len(ohc.categories_[0]))])
dfh=pd.concat([categorical, dfonehot], axis=1)
dfh.head(3)

,Rec-No,Temperature,Color,Target,Temp_cold,Temp_hot,Temp_very hot,Temp_warm
0,0,cold,yellow,1,1.0,0.0,0.0,0.0
1,1,very hot,blue,1,0.0,0.0,1.0,0.0
2,2,warm,blue,1,0.0,0.0,0.0,1.0

# Label Encoding

In [10]:
from sklearn.preprocessing import LabelEncoder
categorical.loc[:,"Temp_Label_encoder"]=pd.factorize(categorical["Temperature"])[0].reshape(-1,1)

In [11]:
categorical.head(5)

   Rec-No Temperature   Color  Target  Temp_Label_encoder
0       0        cold  yellow       1                   0
1       1    very hot    blue       1                   1
2       2        warm    blue       1                   2
3       3         hot     red       0                   3
4       4         hot     red       1                   3

# Ordinal Encoding

In [12]:
Temp_dict={"cold":1, "warm":2, "hot":3, "very hot":4}
categorical["Temp_ordinal_encoding"]=categorical.Temperature.map(Temp_dict)

In [13]:
categorical.head(3)

,Rec-No,Temperature,Color,Target,Temp_Label_encoder,Temp_ordinal_encoding
0,0,cold,yellow,1,0,1
1,1,very hot,blue,1,1,4
2,2,warm,blue,1,2,2

# Binary Encoding

In [14]:
import category_encoders as ce
encoder=ce.BinaryEncoder(cols=["Temperature"])
dfbin=encoder.fit_transform(categorical["Temperature"])
df=pd.concat([categorical, dfbin], axis=1)
df.head(10)

,Rec-No,Temperature,Color,Target,Temp_Label_encoder,Temp_ordinal_encoding,Temperature_0,Temperature_1,Temperature_2
0,0,cold,yellow,1,0,1,0,0,1
1,1,very hot,blue,1,1,4,0,1,0
2,2,warm,blue,1,2,2,0,1,1
3,3,hot,red,0,3,3,1,0,0
4,4,hot,red,1,3,3,1,0,0
5,5,warm,yellow,0,2,2,0,1,1
6,6,warm,yellow,1,2,2,0,1,1
7,7,hot,yellow,0,3,3,1,0,0
8,8,hot,yellow,1,3,3,1,0,0
9,9,cold,yellow,1,0,1,0,0,1

# Frequency Encoding

In [15]:
fe=df.groupby("Temperature").size()/len(df)
df.loc[:,"Temp_freq_encoding"]=df["Temperature"].map(fe)

In [16]:
df.head()

,Rec-No,Temperature,Color,Target,Temp_Label_encoder,Temp_ordinal_encoding,Temperature_0,Temperature_1,Temperature_2,Temp_freq_encoding
0,0,cold,yellow,1,0,1,0,0,1,0.2
1,1,very hot,blue,1,1,4,0,1,0,0.1
2,2,warm,blue,1,2,2,0,1,1,0.3
3,3,hot,red,0,3,3,1,0,0,0.4
4,4,hot,red,1,3,3,1,0,0,0.4

# Mean Encoding

In [17]:
mean_encode=df.groupby("Temperature")["Target"].mean()
print(mean_encode)

Temperature
cold        1.000000
hot         0.500000
very hot    1.000000
warm        0.666667
Name: Target, dtype: float64

In [18]:
df.loc[:, "Temperature_mean_enc"]=df["Temperature"].map(mean_encode)

In [19]:
df.head(5)

,Rec-No,Temperature,Color,Target,Temp_Label_encoder,Temp_ordinal_encoding,Temperature_0,Temperature_1,Temperature_2,Temp_freq_encoding,Temperature_mean_enc
0,0,cold,yellow,1,0,1,0,0,1,0.2,1.000000
1,1,very hot,blue,1,1,4,0,1,0,0.1,1.000000
2,2,warm,blue,1,2,2,0,1,1,0.3,0.666667
3,3,hot,red,0,3,3,1,0,0,0.4,0.500000
4,4,hot,red,1,3,3,1,0,0,0.4,0.500000